In [10]:
# Importing libraries 

import pandas as pd  
import numpy as np 
%matplotlib inline
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [11]:
# Converting the dataset into dataframe

df = pd.read_csv('F:\Fish.csv')

In [12]:
# Checking the first few lines of dataframe

df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [13]:
# Checking various columns of data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [14]:
# Seperating out each species so that we can see the outliers

df_bream=df[df['Species']=='Bream']
df_roach=df[df['Species']=='Roach']
df_whitefish=df[df['Species']=='Whitefish']
df_parkki=df[df['Species']=='Parkki']
df_perch=df[df['Species']=='Perch']
df_pike=df[df['Species']=='Pike']
df_smelt=df[df['Species']=='Smelt']

In [15]:
# Concatenating all the species seperated above into pandas dataframe

d = [df_bream,df_roach,df_whitefish,df_parkki, df_perch,df_pike,df_smelt]
result = pd.concat(d)

In [16]:
# Dropping the irrelevant columns and splitting the dataset into training and test dataset

X = result.drop(['Species'],axis=1)
y = result['Species']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [28]:
# Using and defining the logistic regression model

log = LogisticRegression()

In [29]:
# Fitting the model

log.fit(X_train,y_train)

C:\Users\shreya\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [35]:
# Calculating the score of the mmodel

pre = log.predict(X_test)
log.score(X_test,y_test)

0.875

In [36]:
# Predicting the species of the fish based on the model vs the actual species in the dataset

result = pd.DataFrame({'Actual':y_test.array,'Predicted':pre})

In [37]:
print(result)

       Actual  Predicted
0       Perch      Perch
1       Smelt      Smelt
2        Pike       Pike
3   Whitefish      Perch
4       Perch      Perch
5       Bream      Bream
6       Smelt      Smelt
7       Roach      Perch
8       Perch      Perch
9        Pike       Pike
10      Bream      Bream
11  Whitefish  Whitefish
12      Bream      Bream
13     Parkki     Parkki
14      Bream      Bream
15      Bream      Bream
16      Perch      Perch
17      Perch      Perch
18      Perch      Perch
19      Bream      Bream
20      Smelt      Smelt
21      Bream      Bream
22      Bream      Bream
23      Bream      Bream
24      Bream      Bream
25      Perch      Perch
26      Perch      Perch
27  Whitefish      Perch
28      Smelt      Smelt
29      Smelt      Smelt
30       Pike       Pike
31      Perch      Roach

In [39]:
# Creating a Pichle file

import pickle
pickle_out = open('log.pkl','wb')
pickle.dump(log, pickle_out)
pickle_out.close()

In [40]:
pd.DataFrame({'Predicted':pre})

    Predicted
0       Perch
1       Smelt
2        Pike
3       Perch
4       Perch
5       Bream
6       Smelt
7       Perch
8       Perch
9        Pike
10      Bream
11  Whitefish
12      Bream
13     Parkki
14      Bream
15      Bream
16      Perch
17      Perch
18      Perch
19      Bream
20      Smelt
21      Bream
22      Bream
23      Bream
24      Bream
25      Perch
26      Perch
27      Perch
28      Smelt
29      Smelt
30       Pike
31      Roach